@tailwind base;
@tailwind components;
@tailwind utilities;

.in input {
  @apply mt-2  appearance-none tracking-wider text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200;
}
.in label {
  @apply block text-sm font-medium leading-6 text-gray-900;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
  }
  .hindi {
    letter-spacing: 0.08rem;
  }
  .translate-3d {
    transform: translate3d(0px, 0px, 0px);
    trasition-duration: 0ms;
  }
  .logo {
    width: 100px; /* Initial size of the logo */
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoomIn 5s ease-in-out; /* Add a zooming animation */
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0.5); /* Initial size */
      opacity: 0;
    }
    100% {
      transform: scale(3); /* Final size (zoomed in) */
      opacity: 0.8;
    }
  }

  .slideInLeft {
    animation: slideinl 1s ease-in-out forwards;
  }
  @keyframes slideinl {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .animate-fadein {
    animation: fadein 1s ease-in-out forwards;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .slideInRight {
    animation: slideinr 1s;
  }
  @keyframes slideinr {
    0% {
      transform: translateX(100%); /* Start off the screen to the right */
      opacity: 0; /* Initially invisible */
    }
    100% {
      transform: translateX(0); /* Slide in to the left */
      opacity: 1; /* Become fully visible */
    }
  }

  .aspect-w-3 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 3;
  }
  .aspect-h-2 {
    --tw-aspect-h: 2;
  }
}
